<template>
    <v-layout>
<v-flex xs12 lg4 offset-lg4>
    <v-card   color="purple" class="white--text"  >
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0" >{{admin.id}} - {{admin.name}}</h3>
            
          </div>
        </v-card-title>
            <v-list dense>
                <v-list-tile>
                    <v-list-tile-content>role:</v-list-tile-content>
                    <v-list-tile-content class="align-end">{{ admin.role }}</v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>Email:</v-list-tile-content>
                    <v-list-tile-content class="align-end">{{ admin.email }}</v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>phone:</v-list-tile-content>
                    <v-list-tile-content class="align-end">{{ admin.phone }}</v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>created_at:</v-list-tile-content>
                    <v-list-tile-content class="align-end">{{ admin.created_at }}</v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>updated_at:</v-list-tile-content>
                    <v-list-tile-content class="align-end">{{ admin.updated_at }}</v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content class="align-end">
                        <v-btn color="green darken-1"  @click="$router.go(-1)" >return to list</v-btn>
                    </v-list-tile-content>
                </v-list-tile>   
            </v-list>    
    </v-card>
</v-flex>
</v-layout>
</template>
<script>
export default {
      data: () => ({
          admin:{
              id:'',
              name:'',
              rol:'',
              email:'',
              phone:'',
              created_at:'',
              updated_at:''
          },
      }),
      created(){
          let id=this.$route.params.id
          this.showData('admin/Admins/','admin',id)
      },
      methods:{
        showData(url,field,id){
            let vm=this
            axios.get(`${url}${id}`).then(function (response) {
                Vue.set(vm.$data,field,response.data)
            }).catch(function (error) {
                console.log(error);
            })
        },
        
    }
}
</script>

