<template>
  <v-layout justify-center align-center >
    <form-component :source='source' :form='form' @resetProps="resetForm">
        <div slot='content-form'>
            <v-text-field v-model='form.title' :rules="titleRules" label="title"></v-text-field>
            <v-autocomplete
                label="Editorial"
                :loading="loading"
                :items="editorials"
                item-text="name" 
                item-value="id"
                :search-input.sync="searchEditorial"
                v-model="form.editorial_id"
            >
            </v-autocomplete>
            <v-autocomplete
                label="Author"
                :loading="loading"
                :items="authors"
                item-text="name" 
                item-value="id"
                :search-input.sync="searchAuthor"
                v-model="form.author_id"
            >
            </v-autocomplete>
            <div class="text-xs-left" v-show="updateForm">
                 <v-chip color="primary" text-color="white" v-for="theme in themes" :key="theme.id">{{theme.name}}</v-chip>
                 <v-chip color="secundary" @click="updateForm=false">edit themes</v-chip>
            </div>
            <v-autocomplete
                label="Themes"
                :loading="loading"
                :items="themes"
                item-text="name" 
                item-value="id"
                :search-input.sync="searchTheme"
                v-model="form.themes_id"
                :rules="[ v=> !!v || 'sorry, you should fill this field' ]"
                chips
                multiple
                v-show="!updateForm"
            >
            </v-autocomplete>
            <v-menu
                ref="menu"
                :close-on-content-click="false"
                v-model="menu"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
            >
                <v-text-field
                    slot="activator"
                    v-model="form.publication"
                    label="Birthday date"
                    prepend-icon="event"
                    readonly
                ></v-text-field>
                <v-date-picker
                    ref="picker"
                    v-model="form.publication"
                    :max="new Date().toISOString().substr(0, 10)"
                    min="1950-01-01"
                    @change="save"
                ></v-date-picker>
            </v-menu>
            <v-text-field v-model="form.ubication" label="ubication" prepend-icon="my_location" ></v-text-field>
            
        </div>
    </form-component>
  </v-layout>
</template>
<script>
import formComponent from "../utilities/form.vue"
import Vue from 'vue';
export default {
    data: () => ({
        source:{
            title:'Add Book',
            create:'admin/Books',
            method:'post',
            return:'/Books'
        },
        menu: false,
        form:{
            editorial_id:'',
            author_id:'',
            title:'',
            themes:'',
            publication:null,
            ubication:'',
            available:'yes',    
        },
        updateForm:false,
        editorials:[],
        authors:[],
        themes:[],
        select:'',
        searchEditorial:null,
        searchAuthor: null,
        searchTheme: null,
        loading: false,
        titleRules:[
            v=> !!v || 'sorry, the title is rquired'
        ],
        
    }),
    mounted(){
        if(this.$route.meta.mode === 'edit') {
        this.source.title = 'Edit book'
        this.source.create = 'admin/Books/' + this.$route.params.id
        this.source.method = 'put'
        //this.form.name=this.$route.params.name
        this.fillForm(this.$route.params.id)
        this.updateForm=true
        }
    },
    watch:{
        searchAuthor (val) {
            val && this.list("authors",val)
        },
        searchTheme (val) {
            val && this.list("themes",val)
        },
        searchEditorial (val){
            val && this.list("editorials",val)
        },
        menu (val) {
            val && this.$nextTick(() => (this.$refs.picker.activePicker = 'YEAR'))
        }
    },
    methods:{
        list(relation,name){
            let vm = this
            this.loading=true
            axios.get(`/admin/Books/${relation}/?name=${name}`).then(function(response) {
                Vue.set(vm.$data, relation, response.data)
            }).catch(function(error) {
                console.log(error)
            })
            setTimeout(() => {
                    this.loading = false
            }, 1000)
        },
        save (date) {
            this.$refs.menu.save(date)
        },
        fillForm (book) {
            let vm =this
            axios.get(`admin/Books/${book}`).then(function(response) {
                Vue.set(vm.$data,"form",response.data)
                Vue.set(vm.$data,"authors",response.data.author)
                Vue.set(vm.$data,"editorials",response.data.editorial)
                Vue.set(vm.$data,"themes",response.data.themes)
            }).catch(function(error){
                console.log(error)
            })
            
        },
        resetForm(){
            this.form.editorial_id='',
            this.form.author_id='',
            this.form.title='',
            this.form.themes='',
            this.form.publication=null,
            this.form.ubication='',
            this.form.available='yes'
            this.themes=[]
        }
    },
    components:{
        formComponent
    }
    //"vuetify": "^1.0.18"
}
</script>

