<template>
<v-layout>
<v-flex xs12 lg4 offset-lg4>
    <v-card   color="purple" class="white--text"  >
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0" >{{book.id}} - {{book.title}}</h3>
            
          </div>
        </v-card-title>
        <v-divider></v-divider>
            <v-list dense>
                <v-list-tile>
                    <v-list-tile-content>Editorial:</v-list-tile-content>
                    <v-list-tile-content class="align-end">{{ book.editorial.name }}</v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>Author:</v-list-tile-content>
                    <v-list-tile-content class="align-end">{{ book.author.name }}</v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>publication date:</v-list-tile-content>
                    <v-list-tile-content class="align-end">{{ book.publication }}</v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-btn color="green darken-1" flat="flat"  @click="$router.go(-1)">return to list</v-btn>
                    </v-list-tile-content>
                </v-list-tile>
                <v-divider></v-divider>
                <div v-for="item in loan"  :key="item.id">
                    <v-list-tile v-if="item.name!=null">
                        <v-list-tile-content>user id:</v-list-tile-content>
                        <v-list-tile-content class="align-end">{{ item.id }}</v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                        <v-list-tile-content>user name:</v-list-tile-content>
                        <v-list-tile-content class="align-end">
                            <v-chip color="primary" text-color="white" @click="show(item.user.id)">{{ item.user.name }}</v-chip>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                        <v-list-tile-content>loan date:</v-list-tile-content>
                        <v-list-tile-content class="align-end">{{ item.created_at }}</v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                        <v-list-tile-content>loan date updated:</v-list-tile-content>
                        <v-list-tile-content class="align-end">{{ item.updated_at }}</v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                        <v-list-tile-content>book delivery date:</v-list-tile-content>
                        <v-list-tile-content class="align-end">{{ item.delivery_date }}</v-list-tile-content>
                    </v-list-tile>
                </div>
            </v-list>    
    </v-card>
</v-flex>
</v-layout>
</template>
<script>
export default {
    data: () => ({
        book:{id:'',name:'',
            editorial:{name:''},
            author:{name:''},          
        },
        loan:{
        },
        penalty:''
     }),
     created(){
        this.showBook(this.$route.params.id)
     },
     methods:{
        showBook(id){
            let vm=this
            axios.get(`admin/Books/${id}`).then(function (response) {
                Vue.set(vm.$data,'book',response.data)
            }).catch(function (error) {
                console.log(error);
            })
            axios.get(`admin/Loans/${id}`).then(function (response) {
                Vue.set(vm.$data,'loan',response.data)
            }).catch(function (error) {
                console.log(error);
            })
         },
         show(id){
            this.$router.push(`/Users_view/${id}`)
        },
     },
}
</script>

