<template>
  <v-layout justify-center align-center child-flex>
     <data-viewer :source="source" :thead="thead"  :updateRoute="updateRoute" :title="title" :create="create" :searchRules="searchRules">
        <template slot-scope="props">
            <tr>
                <td class="text-xs-center" >{{props.item.id}}</td>
                <td class="text-xs-center" >{{props.item.title}}</td>
                <td class="text-xs-center" >{{props.item.author.name}}</td>
                <td class="text-xs-center" >{{props.item.editorial.name}}</td>
                <!--<td class="text-xs-center" >{{props.item.ubication}}</td>-->
                <!--<td class="text-xs-center" >{{props.item.publication}}</td>-->
                <td class="text-xs-center" ><span v-for="theme in props.item.themes" :key="theme.id">{{ theme.name }},</span></td>
                <td class="text-xs-center" >{{props.item.available}}</td>
                <td class="justify-center layout px-0">
                    <v-btn flat icon color="green" @click="show(props.item.id)">
                        <v-icon>fas fa-eye</v-icon>
        	        </v-btn>
        	        <v-btn flat icon color="green" @click="emitUpdate(props.item.id,props.item.name)">
                        <v-icon>fas fa-edit</v-icon>
        	        </v-btn>
                    <v-btn flat icon color='error' @click="emitAlert(props.item.name,props.item.id)" v-show="userAdmin.role=='super'">
                        <v-icon>fas fa-trash-alt</v-icon>
                    </v-btn>
                </td>
            </tr>
        </template>
    </data-viewer>
  </v-layout>
</template>
<script>
import infoUSer from "../mixins/infoAdmin.js"
import { bus } from '../../app';
import  DataViewer  from '../utilities/dataViewer.vue';
import Vue from 'vue';
export default {
    name:'authorsIndex',
    data(){
        return{
                title: 'Books',
                source: 'admin/Books',
                create: '/Books_create',
                updateRoute: '/Books_update',
                thead: [
                    {title: 'ID', key: 'id', sort: true},
                    {title: 'Title', key: 'title', sort: true},
                    {title: 'Author', key: 'author', sort: true},
                    {title: 'Editorial', key: 'editorial', sort: true},
                    //{title: 'Ubication', key: 'ubication', sort: true},
                    //{title: 'Publication', key: 'publication', sort: true},
                    {title: 'Themes', key: 'themes', sort: false},
                    {title: 'Available', key: 'available', sort: true},
                    {title: 'Actions', key: 'action', sort: false},
                         
                ],

                searchRules:[
                    v=> /^((name=[A-Za-z]+) ||(editorial=[A-Za-z]+)||(id(=|<|>)[0-9]+)||(title=[A-Za-z]+)||(themes=[A-Za-z]+))$/g.test(v) || 'only accept table columns (for example: id <4 or name:something)',
                    //v=> /^(id=[0-9]+)$/gi.test(v) || 'sorry, the only numbers '
               // v=>  || 'sorry, the name es rquired'
                ],
        }
    },
    methods:{
        emitAlert(name,id){
            bus.$emit('giveAlert',name,id)
        },
        emitUpdate(id,name){
            bus.$emit('giveUpdate',id,name)
        },
        show(id){
            this.$router.push(`/Books_view/${id}`)
        }
    },
    components: {
            DataViewer
        },
        mixins:[infoUSer]
}
</script>
