<template>
    <form-component :inputs="inputs">

    </form-component>
</template>
<script>
import FormComponent from  '../utilities/form.vue';
export default {
    
    data: () => ({
        inputs:[
            { 
                name: 'name', 
                label: 'name',
                ruleForm:[
                    v=> /^[A-Za-z\' ']*$/gi.test(v) || 'sorry, the only letters ',
                    v=> !!v || 'sorry, the name es rquired'
                ]
            }
        ]          
    }),
   
    components: {
        FormComponent
    }
}
</script>

