<template>
  <main-panel>
    <v-list slot='content-drawer'>
       	 <template v-for="(item) in items">
            <v-list-tile
              ripple
              @click="none()"
              :key="item.title"
              :prepend-icon="item.action"
               v-show="adminRole(item.role)"
            >
                <v-list-tile-action >
                    <v-icon>{{ item.action }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-content >
                    <v-list-tile-title @click="changeContent(item.route)">{{ item.title }}</v-list-tile-title>    
                </v-list-tile-content>
            </v-list-tile>
       	 </template>
    </v-list>
  </main-panel>
</template>
<script>
import infoUSer from "../mixins/infoAdmin.js"
import mainPanel from "../utilities/main-panel.vue"
export default {
    components: {
            mainPanel
    },
    data: () => ({
        items: [
            {
                action: 'fas fa-user-tie',
                title: 'Admins',
                role: 'super',
                route:'/Admins'
            },
            {
                action: 'fas fa-address-book',
                title: 'Users',
                role: 'regular',
                route:'/Users'
            },
            {
                action: 'fas fa-pen-nib',
                title: 'Authors',
                role: 'regular',
                route:'/Authors'
            },
            {
                action: 'fas fa-book',
                title: 'Books',
                role: 'regular',
                route:'/Books'
            },
            {
                action: 'fas fa-tags',
                title: 'Themes',
                role: 'regular',
                route:'/Themes'
            },
            {
                action: 'fas fa-building',
                title: 'Editorials',
                role: 'regular',
                route:'/Editorials'
            },


        ]
    }),
    methods:{
        none(){
        },
        changeContent(route){
           this.$router.push(route)
        },
        adminRole(role){
            if(role=='super'){
                if(this.userAdmin.role=='super'){
                    return true
                }else{
                    return false
                }
            }else{
                return true
            }
        }
    },
    mixins:[infoUSer]
}
</script>

