<template>
  <v-layout justify-center align-center >
    <form-component :source='source' :form='form' @resetProps="resetForm">
        <div slot='content-form'>
            <v-text-field v-model='form.book_id' label="user id" :rules="idRules" ></v-text-field>
            <v-btn @click="checker(form.book_id)" color="success">Check book</v-btn>
            <div v-show="checkBook">
                <h3> {{ book.title }} </h3>
            </div>
            <!--<h3 v-show="userShow" >{{ user.name }}</h3>-->
        </div>
    </form-component>
  </v-layout>
</template>
<script>
import formComponent from "../utilities/form.vue"
import Vue from 'vue';
export default {
    data: () => ({
        source:{
            title:'Add Loan',
            create:'admin/Loans',
            method:'post',
            return:'/Users'
        },
        form:{
            id:'',
            book:'',
            user_id:'',
            book_id:0,
            book:'not found'
        },
        book:{
            title:null
        },
        checkUser:false,
        checkBook:false,
        idRules:[
                v=> /^[0-9]*$/gi.test(v) || 'sorry, the only numbers ',
                v=> !!v || 'sorry, the name es rquired'
        ],
        
    }),
    beforeMount(){

        /*if(this.$route.meta.mode === 'edit') {
        this.source.title = 'Edit author'
        this.source.create = 'admin/Authors/' + this.$route.params.id
        this.source.method = 'put'
        this.form.name=this.$route.params.name
        }*/
        this.form.user_id=this.$route.params.id
    },
    methods:{
        checker(id){
                let vm=this
                let route=`admin/Books/check/${id}`
                axios.get(route).then(function (response) 
                {
                    Vue.set(vm.$data,'book',response.data)
                    Vue.set(vm.$data,'checkBook',true)
                    vm.bookValidator(response.data.title)
                    //Vue.set(vm.$data.form,'book_id',book_id)
                }).catch(function (error) {
                    console.log(error);
                })
                /*if(field=='user'){
                    this.userValidator()
                }else{
                    this.bookValidator()
                }*/                
        },
        bookValidator(res){
            if(res!=='not found' && res!=='is not available'){
                Vue.set(this.$data.form,'book','ok')
            }else{
                Vue.set(this.$data.form,'book','not found')
            }
        },
        resetForm(){
            this.form.book_id=''
        }
    },
    components:{
        formComponent
    }
}
</script>

