<template>
  <v-layout justify-center align-center >
    <form-component :source='source' :form='form' @resetProps="resetForm">
        <div slot='content-form'>
            <v-text-field v-model='form.name' :rules="nameRules" ></v-text-field>
        </div>
    </form-component>
  </v-layout>
</template>
<script>
import formComponent from "../utilities/form.vue"
export default {
    data: () => ({
        source:{
            title:'Add Theme',
            create:'admin/Themes',
            method:'post',
            return:'/Themes',
        },
        form:{
            name:''
        },
        nameRules:[
                v=> /^[A-Za-z\s]*$/gi.test(v) || 'sorry, the only letters ',
                v=> !!v || 'sorry, the name es rquired'
        ],
        
    }),
    beforeMount(){
        if(this.$route.meta.mode === 'edit') {
        this.source.title = 'Edit Theme'
        this.source.create = 'admin/Themes/' + this.$route.params.id
        this.source.method = 'put'
        this.form.name=this.$route.params.name
        }
    },
    components:{
        formComponent
    },
    methods:{
        resetForm(){
            this.form.name=''
        }
    }
}
</script>

