<template>
    <v-layout>
<v-flex xs12 lg4 offset-lg4>
    <v-card   color="purple" class="white--text"  >
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0" >{{user.id}} - {{user.name}}</h3>
            
          </div>
        </v-card-title>
            <v-list dense>
                <v-list-tile>
                    <v-list-tile-content>Email:</v-list-tile-content>
                    <v-list-tile-content class="align-end">{{ user.email }}</v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>phone:</v-list-tile-content>
                    <v-list-tile-content class="align-end">{{ user.phone }}</v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>created_at:</v-list-tile-content>
                    <v-list-tile-content class="align-end">{{ user.created_at }}</v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>updated_at:</v-list-tile-content>
                    <v-list-tile-content class="align-end">{{ user.updated_at }}</v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content class="align-end">
                        <v-btn color="green darken-1"  @click="$router.go(-1)" >return to list</v-btn>
                    </v-list-tile-content>
                </v-list-tile>
                
                
                <v-tabs
                    color="black"
                    dark
                    slider-color="yellow"
                >
                <v-tab ripple>Loans</v-tab>
                <v-tab ripple>debts</v-tab>
                <v-tab-item id='loans'>
                    <v-list-tile>
                            <v-list-tile-content class="align-end"><v-btn icon flat color="green" @click="show(user.id)">
                                <v-icon>fas fa-book</v-icon>
                            </v-btn></v-list-tile-content>
                    </v-list-tile>
                    <div v-for="(item, index) in loans"  >
                        <v-list-tile>
                            <v-list-tile-content>Id:</v-list-tile-content>
                            <v-list-tile-content class="align-end">{{ item.id}}</v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile>
                            <v-list-tile-content>Book id:</v-list-tile-content>
                            <v-list-tile-content class="align-end">{{ item.book_id }}</v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile>
                            <v-list-tile-content>Book title:</v-list-tile-content>
                            <v-list-tile-content class="align-end">{{ item.book.title }}</v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile>
                            <v-list-tile-content>loan date:</v-list-tile-content>
                            <v-list-tile-content class="align-end">{{ item.created_at }}</v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile>
                            <v-list-tile-content>loan date updated:</v-list-tile-content>
                            <v-list-tile-content class="align-end">{{ item.updated_at }}</v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile>
                            <v-list-tile-content>book delivery date:</v-list-tile-content>
                            <v-list-tile-content class="align-end">{{ item.delivery_date }}</v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile>
                            <v-list-tile-content class="align-end"><v-btn icon flat color="green" @click="deleteData(item.id,item.book_id,index)">
                                <v-icon>fas fa-share-square</v-icon>
                            </v-btn></v-list-tile-content>
                        </v-list-tile>
                        <v-divider></v-divider>
                    </div>
                </v-tab-item>
                <v-tab-item>
                    <div v-for="(item, index) in debts" >
                        <v-list-tile>
                            <v-list-tile-content>Id:</v-list-tile-content>
                            <v-list-tile-content class="align-end">{{ item.debt}}</v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile>
                            <v-list-tile-content>Book id:</v-list-tile-content>
                            <v-list-tile-content class="align-end">{{ item.created_at }}</v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile>
                            <v-list-tile-content class="align-end"><v-btn icon flat color="green" @click="deleteDebt(item.id,index)">
                                <v-icon>fas fa-share-square</v-icon>
                            </v-btn></v-list-tile-content>
                        </v-list-tile>
                        <v-divider></v-divider>
                    </div>
                </v-tab-item>
                </v-tabs>


                
            </v-list>    
    </v-card>
</v-flex>
 <v-snackbar
            top
            vertical
            v-model="snackbar"
            :timeout=1000
    >
      <h2>{{ msm }}</h2>
      <v-btn dark flat @click.native="snackbar = false">ok</v-btn>
    </v-snackbar>
</v-layout>
</template>
<script>
export default {
      data: () => ({
          user:{
              id:'',
              name:'',
              rol:'',
              email:'',
              phone:'',
              created_at:'',
              updated_at:''
          },
          loans:{
            id:'',
            book_id:'',
            book:{title:''},
            created_at:'',
            updated_at:'',
            delivery_date:''
          },
          debts:[],
          penalty:'',
          snackbar:false,
          msm:''
      }),
      created(){
          let id=this.$route.params.id
          this.showData('admin/userShow/','user',id)
          this.showData('admin/Loans/userLoads/','loans',id)
          this.showData('admin/Loans/debtsUser/','debts',id)
      },
      methods:{
        showData(url,field,id){
            let vm=this
            axios.get(`${url}${id}`).then(function (response) {
                Vue.set(vm.$data,field,response.data)
            }).catch(function (error) {
                console.log(error);
            })
        },
        deleteData(id,book,index){
            let vm=this
            axios.delete(`admin/Loans/${id}`).then(function (response){
                Vue.set(vm.$data,'msm',response.data)
            }).catch(function (error) {
                console.log(error);
            })
            axios.get(`admin/Books/${book}/edit`).then(function(response){

            }).catch(function (error) {
                console.log(error);
            })
            this.snackbar=true
            this.loans.splice(index,1)
            this.showData('admin/Loans/debtsUser/','debts',this.user.id)
        },
        deleteDebt(id,index){
            this.debts.splice(index,1)
             let vm=this
            axios.get(`admin/Loans/destroyDebt/${id}`).then(function (response){
                Vue.set(vm.$data,'msm',response.data)
            }).catch(function (error) {
                console.log(error);
            })
            this.snackbar=true
        },
         show(id){
            this.$router.push(`/Loans_create/${id}`)
        }
    }
}
</script>

