<template>
  <v-layout justify-center align-center child-flex>
     <data-viewer :source="source" :thead="thead"  :updateRoute="updateRoute" :title="title" :create="create" :searchRules="searchRules">
        <template slot-scope="props">
            <tr>
                <td class="text-xs-center" >{{props.item.id}}</td>
                <td class="text-xs-center" >{{props.item.name}}</td>
                <td class="justify-center layout px-0">
        	        <v-btn flat icon color="green" @click="show(props.item.id)">
                        <v-icon>fas fa-eye</v-icon>
        	        </v-btn>
                    <v-btn flat icon color='error' @click="emitAlert(props.item.name,props.item.id)" v-show="userAdmin.role=='super'">
                        <v-icon>fas fa-trash-alt</v-icon>
                    </v-btn>
                </td>
            </tr>
        </template>
    </data-viewer>
  </v-layout>
</template>
<script>
import infoUSer from "../mixins/infoAdmin.js"
import { bus } from '../../app';
import  DataViewer  from '../utilities/dataViewer.vue';
export default {
    name:'UsersIndex',
    data(){
        return{
                title: 'Users',
                source: 'admin/Users',
                create: '/Users_create',
                updateRoute: '/Users_update',
                thead: [
                    {title: 'ID', key: 'id', sort: true},
                    {title: 'Name', key: 'name', sort: true},
                    {title: 'Actions', key: 'action', sort: false}     
                ],
                searchRules:[
                    v=> /^((name=[A-Za-z]+)||(id(=|<|>)[0-9]+))$/g.test(v) || 'only accept table columns (for example: id <4 or name:something)',
                    //v=> /^(id=[0-9]+)$/gi.test(v) || 'sorry, the only numbers '
               // v=>  || 'sorry, the name es rquired'
                ],
        }
    },
    methods:{
        emitAlert(name,id){
            bus.$emit('giveAlert',name,id)
        },
        show(id){
             this.$router.push(`Users_view/${id}`)
        }
    },
    components: {
            DataViewer
        },
    mixins:[infoUSer]
}
</script>
