<template>
    
</template>
<script>
export default {
    props:{
        alert:{
            type:Object
        }
    },
    data(){

    },
    methods:{
        emitGlobalClickEvent(id){
            this.id=id
            bus.$emit('alertAct',this.id)
        }
    }
}
</script>

