<template>
    <div>
        <v-toolbar>
            <v-toolbar-title>
                {{ title }}
                <v-btn @click.native="$router.push(create)"><v-icon>fas fa-user-plus</v-icon></v-btn>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-subheader>parameter</v-subheader>
            <v-form v-model="valid">
                <v-text-field v-model='params.search' :rules="searchRules" @keyup.enter='filterSearch'></v-text-field>
            </v-form>
            <v-icon>fas fa-search</v-icon>
        </v-toolbar>
    <table class="responsive-table" width='100%'>
        
        <thead>
            <tr>
                <th v-for="item in thead" v-bind:key="item.id">
                    <div  class="text-xs-center" @click="sort(item.key)" v-if="item.sort">
                        <span>{{item.title}}</span>
                            <span v-if="params.direction === 'asc'">&#x25B2;</span>
                            <span v-else>&#x25BC;</span>
                    </div>
                    <div v-else>
                        <span>{{item.title}}</span>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <slot v-for="item in model.data" :item="item" ></slot>
        </tbody>
    </table>
    <v-toolbar >
            <pre>  </pre>page: {{model.current_page}} - {{model.last_page}} / total: {{model.total}}
            <v-spacer></v-spacer>
            <v-btn flat icon   @click="prev()" v-show="model.prev_page_url!=null">
                <v-icon small>fas fa-chevron-left</v-icon>
            </v-btn>
            <pre>  </pre> 
        <v-btn flat icon  @click="next()" v-show="model.next_page_url!=null">
        	<v-icon small >fas fa-chevron-right</v-icon>  
        </v-btn>
        <pre> </pre>
        </v-toolbar>
        <!-- form -->
        <v-dialog v-model="alert.dialog" max-width="40%">
        <v-card>
            <v-card-title class="headline">Alert</v-card-title>
            <v-card-text>
                <h1>want you delete the register {{ alert.name }} ?</h1>
            </v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" flat="flat" @click.native="alert.dialog = false">Cancel</v-btn>
            <v-btn color="green darken-1" flat="flat" @click.native="remove" >Delete</v-btn>
            </v-card-actions>
        </v-card>
        </v-dialog>
    <!-- form -->
         <v-snackbar
            top
            vertical
            v-model="snackbar"
            :timeout=1000
    >
      <h2>{{ text }}</h2>
      <v-btn dark flat @click.native="snackbar = false">ok</v-btn>
    </v-snackbar>
    </div>
</template>
<script>
import infoUSer from "../mixins/infoAdmin.js"
import { bus } from '../../app';
import Vue from 'vue';
export default {
  props: ["source", "thead", "updateRoute", "title","create","searchRules"],
  data: () => ( {
        model: {
            data: []
        },
        alert:{
            dialog:false,
            name:'',
            id:''
        },
        valid: true,
        snackbar:false,
        text:'',
        params:{
            column: 'id',
            direction: 'asc',
            per_page: 10,
            operator:'=',
            page:1,
            search_column: 'id',
            search_query:'',
            search:''
        },
        pagination: {}
  }),
  created(){
      bus.$on('giveAlert',(name,id)=>{
          this.showAlert(name,id)
      }),
      bus.$on('giveUpdate',(id,name)=>{
          this.update(id,name)
          //alert(id+'  '+name)
      })
  },
  beforeMount() {
    this.fetchData(this.source);
  },
  methods: {
    fetchData() {
      let vm = this;
      axios
        .get(this.buildURL())
        .then(function(response) {
            Vue.set(vm.$data, "model", response.data);
            console.log(response.status)
        }).catch(function(error) {
           console.log(response.data.errors); 
        });
    },
    next(){
        this.params.page++
        this.fetchData()    
    },
    prev(){
        if(this.params.page>1){
            this.params.page--
            this.fetchData()
       }
    },
    sort(column){
        if(column === this.params.column) {
        if(this.params.direction === 'desc') {
            this.params.direction = 'asc'
        } else {
            this.params.direction = 'desc'
        }
        } else {
            this.params.column = column
            this.params.direction = 'asc'
        }
        this.params.page=1
        this.fetchData()
    },
    update(id,name){
        this.$router.push(`${this.updateRoute}/${id}/${name}/edit`)
    },
    showAlert(name,id){
        this.alert.name=name
        this.alert.id=id,
        this.alert.dialog=true
    },
    buildURL() {
        var p = this.params
        return `${this.source}?column=${p.column}&direction=${p.direction}&per_page=${p.per_page}&page=${p.page}&search_column=${p.search_column}&search_query=${p.search_query}&operator=${p.operator}`
    },
    remove(){
        let vm=this
        axios.delete(`${this.source}/${this.alert.id}`)
            .then(function(response){
                Vue.set(vm.$data,'text',response.data)
            }).catch(function(error) {
                Vue.set(vm.$data,"text",response.data)
            });
            this.snackbar=true
            vm.alert.dialog=false
             setTimeout(function(){
                    vm.fetchData() 
                 }, 1500);
    },
    filterSearch(){
        let str=this.params.search
        if(str.trim()===''){
            this.params.operator='='
            this.params.search_query=''
            this.params.search_column='id'
            this.fetchData()
        } else if (!this.valid){}
        else{
            let str=this.params.search
            let findMe=str.match(/=|<|>/)
            let reg=/([a-zA-Z0-9]+)(?:<|=|>)([a-zA-Z0-9]+)/
            let arrayResult=reg.exec(str)
            this.params.search_column=arrayResult[1]
            this.params.search_query=arrayResult[2]
            this.params.operator=findMe
            this.params.page=1
            this.fetchData()
        }
    }
  },
    mixins:[infoUSer]
};
</script>
