<template>
    <v-flex xs12 sm12 lg6>
    <v-card>
        <v-toolbar color="pink">
            <v-card-title primary-title>{{ source.title }}</v-card-title>
        </v-toolbar>
        <v-form v-model="valid" >
            <input type="hidden" name="_token" :value="csrf">
            <slot name='content-form'></slot>
        </v-form>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" flat="flat" @click="save()"  :disabled="!valid">Save</v-btn>
            <v-btn color="green darken-1" flat="flat" @click="$router.push(source.return)">Cancel</v-btn>          
        </v-card-actions>
    </v-card>
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline">{{ msm }}</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat="flat"  @click="$router.push(source.return)">return to list</v-btn>
          <v-btn color="green darken-1" flat="flat"  @click="resetForm">continue here</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    </v-flex>
</template>
<script>
export default {
    props:{
        source:Object,
        form:Object
    },
    data: () => ({
        csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        valid: true,
        dialog:false,
        msm:'',
        error:false
    }),
    methods:{
        save(){
                let vm=this
                axios[this.source.method](this.source.create,this.form)
                    .then(function(response) {
                        Vue.set(vm.$data,'msm',response.data)
                    })
                    .catch(function(error) {
                        Vue.set(vm.$data, 'msm', error.response)
                        Vue.set(vm.$data,'error',true)
                })
                this.dialog=true
            },
        resetForm(){
            this.$emit('resetProps')
            this.dialog=false
        }
    } 
}
</script>

