<template>
    <v-toolbar >
        <pre>   </pre>page: {{pagination.current_page}} - {{pagination.last_page}} / total: {{pagination.total}}
        <v-spacer></v-spacer>
            <v-btn flat icon  v-show="pagination.prev_page_url!=null" @click="emitGlobalClickEvent(pagination.prev_page_url)">
              <v-icon small>fas fa-chevron-left</v-icon>
            </v-btn>
        <pre>  </pre> 
        <v-btn flat icon v-show="pagination.next_page_url!=null" @click="emitGlobalClickEvent(pagination.next_page_url)" >
        	<v-icon small >fas fa-chevron-right</v-icon>  
        </v-btn>
        <pre> </pre>
    </v-toolbar>
</template>
<script>
import { bus } from "../../app.js";
export default {
	props:{  
        pagination:{
            type:Object
        }
    },
  	data(){
    	return{
		  
    	}
    },
    methods:{
        emitGlobalClickEvent(pageUrl){
            this.pageUrl=pageUrl
            bus.$emit('changePage',this.pageUrl)
        }
    }
}
</script>