<template>
<v-layout>
<v-flex xs12 lg4 offset-lg4>
    <v-card   color="purple" class="white--text"  >
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0" >{{book.id}} - {{book.title}}</h3>
            
          </div>
        </v-card-title>
        <v-divider></v-divider>
            <v-list dense>
                <v-list-tile>
                    <v-list-tile-content>Editorial:</v-list-tile-content>
                    <v-list-tile-content class="align-end">{{ book.editorial.name }}</v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>Author:</v-list-tile-content>
                    <v-list-tile-content class="align-end">{{ book.author.name }}</v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>publication date:</v-list-tile-content>
                    <v-list-tile-content class="align-end">{{ book.publication }}</v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-btn color="green darken-1" flat="flat"  @click="$router.go(-1)">return to list</v-btn>
                    </v-list-tile-content>
                </v-list-tile>
                <v-divider></v-divider>
            </v-list>    
    </v-card>
</v-flex>
</v-layout>
</template>
<script>
export default {
    data: () => ({
        book:{id:'',name:'',
            editorial:{name:''},
            author:{name:''},          
        },
        loan:{
        },
        penalty:''
     }),
     created(){
        this.showBook(this.$route.params.id)
     },
     methods:{
        showBook(id){
            let vm=this
            axios.get(`user/Books/${id}`).then(function (response) {
                Vue.set(vm.$data,'book',response.data)
            }).catch(function (error) {
                console.log(error);
            })
         },
     },
}
</script>

