<template>
  <v-layout justify-center align-center child-flex>
      <div>
       <v-toolbar>
            <v-toolbar-title>
                Debts
            </v-toolbar-title>
        </v-toolbar>
      <table class="responsive-table" width='100%'>
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Debt</th>
                  <th>User ID</th>
                  <th>Created</th>
              </tr>
          </thead>
          <tbody>
              <tr  v-for="(item, index) in debts">
                  <td class="text-xs-center">{{item.id}}</td>
                  <td class="text-xs-center">{{item.debt}}</td>
                  <td class="text-xs-center">{{item.user_id}}</td>
                  <td class="text-xs-center">{{item.created_at}}</td>
              </tr>
          </tbody>
      </table>
      </div>
  </v-layout>
</template>
<script>
import { bus } from '../../user';
export default {
    name:'authorsIndex',
    data: () => ({
        debts:{
            id:'',
            debt:'',
            user_id:'',
            created_at:'',
          },
    }),
    mounted(){
        this.showData('user/Loans/debtsUser/','debts',3)
        
    },
    methods:{
       showData(url,field,id){
            let vm=this
            axios.get(`${url}${id}`).then(function (response) {
                Vue.set(vm.$data,field,response.data)
            }).catch(function (error) {
                console.log(error);
            })
        },
    },
}
</script>
