<template>
  <main-panel>
    <v-list slot='content-drawer'>
       	 <template v-for="(item) in items">
            <v-list-tile
              ripple
              @click="none()"
              :key="item.title"
              :prepend-icon="item.action"
            >
                <v-list-tile-action >
                    <v-icon>{{ item.action }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-content >
                    <v-list-tile-title @click="changeContent(item.route)">{{ item.title }}</v-list-tile-title>    
                </v-list-tile-content>
            </v-list-tile>
       	 </template>
    </v-list>
  </main-panel>
</template>
<script>
import mainPanel from "./main-panel.vue"
export default {
    components: {
            mainPanel
    },
    data: () => ({
        items: [
            {
                action: 'fas fa-book',
                title: 'Books',
                route:'/Books'
            },
            {
                action: 'far fa-clipboard',
                title:  'Loans',
                route:  '/Loans'
            },
            {
                action: 'fas fa-wallet',
                title:  'Debts',
                route:  '/Debts'
            }


        ]
    }),
    methods:{
        none(){
        },
        changeContent(route){
            this.$router.push(route)
        },
    },
    
}
</script>
