<template>
  <v-layout justify-center align-center child-flex>
      <div>
       <v-toolbar>
            <v-toolbar-title>
                Loans
            </v-toolbar-title>
        </v-toolbar>
      <table class="responsive-table" width='100%'>
          <thead>
              <tr>
                  <th>ID</th>
                  <th>ID Book</th>
                  <th>Book title</th>
                  <th>Date</th>
                  <th>Delivery Date</th>
              </tr>
          </thead>
          <tbody>
              <tr  v-for="(item, index) in loans">
                  <td class="text-xs-center">{{item.id}}</td>
                  <td class="text-xs-center">{{item.book_id}}</td>
                  <td class="text-xs-center">{{item.book.title}}</td>
                  <td class="text-xs-center">{{item.created_at}}</td>
                  <td class="text-xs-center">{{item.delivery_date}}</td>
              </tr>
          </tbody>
      </table>
      </div>
  </v-layout>
</template>
<script>
import { bus } from '../../user';
import  DataViewer  from '../utilities/dataViewerUser';
export default {
    name:'authorsIndex',
    data: () => ({
        loans:{
            id:'',
            book_id:'',
            book:{title:''},
            created_at:'',
            updated_at:'',
            delivery_date:''
          },
    }),
    mounted(){
        this.showData('user/Loans/userLoads/','loans',3)
        
    },
    methods:{
       showData(url,field,id){
            let vm=this
            axios.get(`${url}${id}`).then(function (response) {
                Vue.set(vm.$data,field,response.data)
            }).catch(function (error) {
                console.log(error);
            })
        },
    },
    components: {
            DataViewer
        },
}
</script>

