<template>
  <v-app id="inspire" dark>
    <v-navigation-drawer
      v-model="drawer"
      clipped
      fixed
      app
    >
        <slot name='content-drawer'></slot>
    </v-navigation-drawer>
    <v-toolbar app fixed clipped-left>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>App library</v-toolbar-title>
      <v-spacer></v-spacer>
      
        <v-btn flat>{{ user.name}}</v-btn>
         <v-menu
      transition="slide-y-transition"
      bottom
    >
      <v-btn
        slot="activator"
        color="primary"
        flat
      >
        <v-icon color="white" >fas fa-cogs</v-icon> 
      </v-btn>
      <v-list>
        <v-list-tile >
          <v-list-tile-action >
            <v-icon> fas fa-edit </v-icon>
          </v-list-tile-action>
          <v-list-tile-title @click="updateGo(user.id,user.name)">update</v-list-tile-title>
        </v-list-tile>
        <v-list-tile >
          <v-list-tile-action>
            <v-icon>fas fa-door-open</v-icon>
          </v-list-tile-action>
          <v-list-tile-title @click="logout()">logout</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>

    </v-toolbar>
    <v-content>
        <v-container fluid fill-height>
      
          
            <router-view></router-view>
  
        </v-container>
    </v-content>
    <v-footer app fixed>
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>
<script>
export default {
    data(){
        return{
            fab:false,
            drawer: false,
            name:''
        }
    },
    mounted(){
      this.getInfoUser()
    },
    methods:{
        logout(){
          axios.get(`user/UsersLogout`)
          .then(function(response) {
            }).catch(function(error) {
            });
            window.location.href = "/login_user_panel"
        },
        updateGo(id,name){
           this.$router.push(`/Users_update/${id}/${name}/edit`)
        }
    },
}
</script>
