<template>
  <v-layout justify-center align-center >
    <form-component :source='source' :form='form'>
        <div slot='content-form'>
            <v-text-field v-model="form.id" :rules="idRules" label="ID" v-show='updateShow' required></v-text-field>
            <v-text-field v-model='form.name' :rules="nameRules" label="Name" required></v-text-field>
            <v-text-field v-model="form.email" :rules="emailRules" label="email" required></v-text-field>
            <v-text-field v-model="form.phone" :rules="idRules" label="phone" required></v-text-field>
        </div>
    </form-component>
  </v-layout>
</template>
<script>
import formComponent from "../utilities/form.vue"
export default {
    data: () => ({
        updateShow:true,
        source:{
            title:'',
            create:'',
            method:'',
            return:'/'
        },
        form:{
            id:'',
            name:'',
            role:'',
            phone:''
        },
        Admin:{},
        nameRules:[
                v=> /^[A-Za-z\s]*$/gi.test(v) || 'sorry, the only letters ',
                v=> !!v || 'sorry, the name is required'
        ],
        idRules:[
                v=> /^[0-9]*$/gi.test(v) || 'sorry, the only numbers ',
                v=> !!v || 'sorry, the id is required'
        ],
        emailRules:[
            v => !!v || 'E-mail is required',
            v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
        ],
        passRule:[v => !!v || 'the password is required']
    }),
    beforeMount(){
        if(this.$route.meta.mode === 'edit') {
            this.source.title = 'Edit User'
            this.source.create = 'user/Users/' + this.$route.params.id
            this.source.method = 'put'
            this.initializeUpdate(this.$route.params.id)
            this.updateShow=false
        }
    },
    components:{
        formComponent
    },
    methods:{
        initializeUpdate(id){
            let vm=this
            axios.get(`user/Users/${id}`)
            .then(function(response) {
                Vue.set(vm.$data,'form',response.data)
            })
        }
    },
    
}
</script>
